.content-wrap{
    background-color: black;
}

  h2{
    font-family: monospace;
    font-weight: bold;
    font-style: oblique;
    font-size: 25px;
    color: aliceblue;
  }

  p{
    font-family: monospace;
    font-weight: bold;
    font-style: oblique;
    font-size: 20px;
    color: aliceblue;
  }

  li{
      color:white
  }

  i{
      color:white
  }

  span{
      color:white
  }