
<section id="content">
    <div class="content-wrap">
        <div class="container">

            <div class="row gutter-50">

                <div class="col-lg-7 portfolio-single-image">

                    <!-- Portfolio Single Image
                    ============================================= -->
                    <div class="masonry-thumbs grid-container masonry-gap-xl grid-1 grid-md-2" data-lightbox="gallery">
                        <a href="https://via.placeholder.com/1520x650" data-lightbox="gallery-item" class="grid-item"><img class="rounded-5" src="https://via.placeholder.com/500x700" alt="Image"></a>
                        <a href="https://via.placeholder.com/1520x650" data-lightbox="gallery-item" class="grid-item"><img class="rounded-5" src="https://via.placeholder.com/500x700" alt="Image"></a>
                        <a href="https://via.placeholder.com/1520x650" data-lightbox="gallery-item" class="grid-item"><img class="rounded-5" src="https://via.placeholder.com/500x700" alt="Image"></a>
                        <a href="https://via.placeholder.com/1520x650" data-lightbox="gallery-item" class="grid-item"><img class="rounded-5" src="https://via.placeholder.com/500x700" alt="Image"></a>
                        <a href="https://via.placeholder.com/1520x650" data-lightbox="gallery-item" class="grid-item"><img class="rounded-5" src="https://via.placeholder.com/500x700" alt="Image"></a>
                    </div>
                    <!-- .portfolio-single-image end -->

                </div>

                <!-- Portfolio Single Content
                ============================================= -->
                <div class="col-lg-5 portfolio-single-content content-sticky">

                    <!-- Portfolio Single - Description
                    ============================================= -->
                    <h2>Student Detail</h2>
                    <p class="op-07"><br><br>
                    Illum molestias cupiditate eveniet dolore obcaecati voluptatibus est quos eos id recusandae officia. Cupiditate, voluptates quibusdam ipsum vel corporis laboriosam id est doloremque?</p>
                    <!-- Portfolio Single - Description End -->

                    <div class="line my-5"></div>

                    <!-- Portfolio Single - Meta
                    ============================================= -->
                    <ul class="portfolio-meta bottommargin">
                        <li><span><i class="icon-user"></i>Created by:</span> John Doe</li>
                        <li><span><i class="icon-calendar3"></i>Completed on:</span> 17th March 2021</li>
                        <li><span><i class="icon-lightbulb"></i>Skills:</span> HTML5 / PHP / CSS3</li>
                        <li><span><i class="icon-link"></i>Client:</span> <a href="#">Google</a></li>
                    </ul>
                    <!-- Portfolio Single - Meta End -->
                    <div class="center">
                    <div class="line my-5"></div>
                    <a href="#section-student" class="button button-circle button-3d button-light button-white">back to student</a>

                    <!-- Portfolio Single - Share
                    ============================================= --> 
                    <!-- <div class="d-flex justify-content-between align-items-center">
                        <span>Share:</span>
                        <div>
                            <a href="#" class="social-icon si-small si-light mb-0 si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-light mb-0 si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-light mb-0 si-pinterest">
                                <i class="icon-pinterest"></i>
                                <i class="icon-pinterest"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-light mb-0 si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-light mb-0 si-rss">
                                <i class="icon-rss"></i>
                                <i class="icon-rss"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-light mb-0 si-email3">
                                <i class="icon-email3"></i>
                                <i class="icon-email3"></i>
                            </a>
                        </div>
                        
                    </div> -->
                    <!-- Portfolio Single - Share End -->
                    
                </div><!-- .portfolio-single-content end -->
            </div>
            </div>

        </div>
    </div>
</section>

