

.blocks-social-follow a {
    position: relative;
    border-right: 1px solid #EEE;
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
    border-radius: 4px;
    transition: all .2s ease;
    width: auto;
}

.blocks-social-follow:hover > a:not(:hover) {
    opacity: .3;
}

.blocks-social-follow a:last-child {
    border-right: 0;
}

.blocks-social-follow a:hover i {
    color: #FFF;
    transform: scale(1.3);
}

h2 {
    font-family: monospace;
    font-weight: bold;
    font-style: oblique;
    font-size: 25px;
    color: rgb(226, 232, 238);
}

.content-wrap{
    background-color: #252529;
  }

  a{
      background-color: rgb(227, 233, 236);
  }

  .icon-map-pin{
    align-items: 5000px;
}