<div style="background-color: turquoise;">
<div id="section-newsit" class="center page-section">
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row justify-content-center gutter-50 col-mb-50">

                    <h3>NEWsIT</h3>

                <div class="clear"></div>

            


                <div class="entry event col-lg-5 col-md-6">
                    <div class="grid-inner row g-0 p-4 bg-transparent shadow-sm h-shadow all-ts h-translatey-sm card border">
                        <div class="entry-image">
                            <a href="#news-popup1" data-lightbox="inline">
                                <img src="\assets\images\news\n7.jpg" alt="Inventore voluptates velit totam ipsa tenetur">
                               
                            </a>
                        </div>
                        <section id="content">
                            <div class="content-wrap py-0">
                
                               
                
                                
                
                                <!-- Modal -->
                                <div class="modal1 mfp-hide" id="pre-detail">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content p-4 p-md-5 rounded text-center align-items-center shadow-lg border-0" style="background-color: #F1F1F1;">
                                            <img src="./assets/images/student/1.jpg" alt="Svg" height="200" class="mb-5">
                                            <h3>Recovery Email Sent</h3>
                                            <p>Please, Check your email inbox. Progressively engage diverse partnerships whereas flexible materials.</p>
                
                                            <!-- Trigger -->
                                            <div>
                                                <a href="#" class="button button-rounded button-large bg-dark button-black ms-0">Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                        </section><!-- #content end -->
                        <div class="entry-title title-sm">
                            <h2><a href="#news-popup1" data-lightbox="inline">title News</a></h2>
                        </div>
                        
                        
                    </div>
                                    <!-- popupcontant -->
                <section id="content">  
                    <div class="content-wrap py-0">
        
                        
        
                        <!-- Modal -->
                        <div class="modal1 mfp-hide" id="news-popup1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content p-4 p-md-5 rounded text-center align-items-center shadow-lg border-0" style="background-color: #F1F1F1;">
                                    <img src="\assets\images\news\n7.jpg" alt="Svg" height="200" class="mb-5">
                                    <h3>News title</h3>
                                    <p>-------------mini News Detail-----------</p>
        
                                    <!-- Trigger -->
                                    <div>
                                        <a href="/news-detail" class="button button-xlarge text-end">Readmore<i class="icon-circle-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </section>
                <!-- endpopupcontant -->
                </div>
                <div class="entry event col-lg-5 col-md-6">
                    <div class="grid-inner row g-0 p-4 bg-transparent shadow-sm h-shadow all-ts h-translatey-sm card border">
                        <div class="entry-image">
                            <a href="#block-modal-recovery-email" data-lightbox="inline">
                                <img src="\assets\images\news\n5.jpg" alt="Inventore voluptates velit totam ipsa tenetur">
                               
                            </a>
                        </div>
                        <section id="content">
                            <div class="content-wrap py-0">
                
                               
                
                                
                
                                <!-- Modal -->
                                <div class="modal1 mfp-hide" id="pre-detail">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content p-4 p-md-5 rounded text-center align-items-center shadow-lg border-0" style="background-color: #F1F1F1;">
                                            <img src="./assets/images/student/1.jpg" alt="Svg" height="200" class="mb-5">
                                            <h3>Recovery Email Sent</h3>
                                            <p>Please, Check your email inbox. Progressively engage diverse partnerships whereas flexible materials.</p>
                
                                            <!-- Trigger -->
                                            <div>
                                                <a href="#" class="button button-rounded button-large bg-dark button-black ms-0">Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                        </section><!-- #content end -->
                        <div class="entry-title title-sm">
                            <h2><a href="#block-modal-recovery-email" data-lightbox="inline">title News</a></h2>
                        </div>
                        
                        
                    </div>
                                    <!-- popupcontant -->
                <section id="content">  
                    <div class="content-wrap py-0">
        
                        
        
                        <!-- Modal -->
                        <div class="modal1 mfp-hide" id="block-modal-recovery-email">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content p-4 p-md-5 rounded text-center align-items-center shadow-lg border-0" style="background-color: #F1F1F1;">
                                    <img src="\assets\images\news\n5.jpg" alt="Svg" height="200" class="mb-5">
                                    <h3>News title</h3>
                                    <p>-------------mini News Detail-----------</p>
        
                                    <!-- Trigger -->
                                    <div>
                                        <a href="/news-detail" class="button button-xlarge text-end">Readmore<i class="icon-circle-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </section>
                <!-- endpopupcontant -->
                </div>
                <div class="entry event col-lg-5 col-md-6">
                    <div class="grid-inner row g-0 p-4 bg-transparent shadow-sm h-shadow all-ts h-translatey-sm card border">
                        <div class="entry-image">
                            <a href="#news-popup3" data-lightbox="inline">
                                <img src="\assets\images\news\n3.jpg" alt="Inventore voluptates velit totam ipsa tenetur">
                               
                            </a>
                        </div>
                        <section id="content">
                            <div class="content-wrap py-0">
                
                               
                
                                
                
                                <!-- Modal -->
                                <div class="modal1 mfp-hide" id="pre-detail">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content p-4 p-md-5 rounded text-center align-items-center shadow-lg border-0" style="background-color: #F1F1F1;">
                                            <img src="./assets/images/student/1.jpg" alt="Svg" height="200" class="mb-5">
                                            <h3>Recovery Email Sent</h3>
                                            <p>Please, Check your email inbox. Progressively engage diverse partnerships whereas flexible materials.</p>
                
                                            <!-- Trigger -->
                                            <div>
                                                <a href="#" class="button button-rounded button-large bg-dark button-black ms-0">Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                        </section><!-- #content end -->
                        <div class="entry-title title-sm">
                            <h2><a href="#news-popup3" data-lightbox="inline">title News</a></h2>
                        </div>
                        
                        
                    </div>
                                    <!-- popupcontant -->
                <section id="content">  
                    <div class="content-wrap py-0">
        
                        
        
                        <!-- Modal -->
                        <div class="modal1 mfp-hide" id="news-popup3">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content p-4 p-md-5 rounded text-center align-items-center shadow-lg border-0" style="background-color: #F1F1F1;">
                                    <img src="\assets\images\news\n3.jpg" alt="Svg" height="200" class="mb-5">
                                    <h3>News title</h3>
                                    <p>-------------mini News Detail-----------</p>
        
                                    <!-- Trigger -->
                                    <div>
                                        <a href="/news-detail" class="button button-xlarge text-end">Readmore<i class="icon-circle-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </section>
                <!-- endpopupcontant -->
                </div>
                <div class="entry event col-lg-5 col-md-6">
                    <div class="grid-inner row g-0 p-4 bg-transparent shadow-sm h-shadow all-ts h-translatey-sm card border">
                        <div class="entry-image">
                            <a href="#news-popup4" data-lightbox="inline">
                                <img src="\assets\images\news\n6.png" alt="Inventore voluptates velit totam ipsa tenetur">
                               
                            </a>
                        </div>
                        <section id="content">
                            <div class="content-wrap py-0">
                
                               
                
                                
                
                                <!-- Modal -->
                                <div class="modal1 mfp-hide" id="pre-detail">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content p-4 p-md-5 rounded text-center align-items-center shadow-lg border-0" style="background-color: #F1F1F1;">
                                            <img src="./assets/images/student/1.jpg" alt="Svg" height="200" class="mb-5">
                                            <h3>Recovery Email Sent</h3>
                                            <p>Please, Check your email inbox. Progressively engage diverse partnerships whereas flexible materials.</p>
                
                                            <!-- Trigger -->
                                            <div>
                                                <a href="#" class="button button-rounded button-large bg-dark button-black ms-0">Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                        </section><!-- #content end -->
                        <div class="entry-title title-sm">
                            <h2><a href="#news-popup4" data-lightbox="inline">title News</a></h2>
                        </div>
                        
                        
                    </div>
                                    <!-- popupcontant -->
                <section id="content">  
                    <div class="content-wrap py-0">
        
                        
        
                        <!-- Modal -->
                        <div class="modal1 mfp-hide" id="news-popup4">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content p-4 p-md-5 rounded text-center align-items-center shadow-lg border-0" style="background-color: #F1F1F1;">
                                    <img src="\assets\images\news\n6.png" alt="Svg" height="200" class="mb-5">
                                    <h3>News title</h3>
                                    <p>-------------mini News Detail-----------</p>
        
                                    <!-- Trigger -->
                                    <div>
                                        <a href="/news-detail" class="button button-xlarge text-end">Readmore<i class="icon-circle-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </section>
                <!-- endpopupcontant -->
                </div>
            </div>
        </div>
    </div>
</section>

</div>
</div>