h3{
    font-family: monospace;
    font-weight: bold;
    font-style: oblique;
    font-size: 25px;
    color: aliceblue;
}

.content-wrap{
    background-color: #ffffff;
  }

img{
    padding: 25px;
  }

  .content-wrap{
    background-color: #252529;
  }
