<div id="section-student" class="center page-section">
<section id="content">
    <div class="content-wrap min-vh-100 d-flex align-items-center">
        <div class="container clearfix">
            <div class="container">
            <h3 class="h1 fw-bold mb-3">Student</h3>
            </div>
            <div class="row justify-content-center gutter-50 col-mb-50">

                <div class="clear"></div>

                <div class="col-sm-6 col-lg-3">
                    <div class="team card shadow-sm border-0 h-shadow h-translatey-sm all-ts rounded-4 overflow-hidden">
                        <div class="team-image">
                            <img src="/assets/images/student/3.jpg" alt="John Doe">
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end" data-hover-animate="fadeIn" data-hover-speed="400">
                                    <a href="#" class="social-icon si-colored si-small si-facebook" title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-twitter" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-github" title="Github">
                                        <i class="icon-github"></i>
                                        <i class="icon-github"></i>
                                    </a>
                                </div>
                                <div class="bg-overlay-bg" data-hover-animate="fadeIn" ></div>
                            </div>
                        </div>
                        <div class="team-desc team-desc-bg">
                            <div class="team-title"><h4>John Doe</h4><span class="fst-normal">CEO</span></div>
                            <a href="/student-detail" class="button button-border button-circle button-dark w-75">Detail</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="team card shadow-sm border-0 h-shadow h-translatey-sm all-ts rounded-4 overflow-hidden">
                        <div class="team-image">
                            <img src="/assets/images/student/2.jpg" alt="John Doe">
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end" data-hover-animate="fadeIn" data-hover-speed="400">
                                    <a href="#" class="social-icon si-colored si-small si-facebook" title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-twitter" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-github" title="Github">
                                        <i class="icon-github"></i>
                                        <i class="icon-github"></i>
                                    </a>
                                </div>
                                <div class="bg-overlay-bg" data-hover-animate="fadeIn" ></div>
                            </div>
                        </div>
                        <div class="team-desc team-desc-bg">
                            <div class="team-title"><h4>John Doe</h4><span class="fst-normal">CEO</span></div>
                            <a href="/student-detail" class="button button-border button-circle button-dark w-75">Detail</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="team card shadow-sm border-0 h-shadow h-translatey-sm all-ts rounded-4 overflow-hidden">
                        <div class="team-image">
                            <img src="/assets/images/student/3.jpg" alt="John Doe">
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end" data-hover-animate="fadeIn" data-hover-speed="400">
                                    <a href="#" class="social-icon si-colored si-small si-facebook" title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-twitter" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-github" title="Github">
                                        <i class="icon-github"></i>
                                        <i class="icon-github"></i>
                                    </a>
                                </div>
                                <div class="bg-overlay-bg" data-hover-animate="fadeIn" ></div>
                            </div>
                        </div>
                        <div class="team-desc team-desc-bg">
                            <div class="team-title"><h4>John Doe</h4><span class="fst-normal">CEO</span></div>
                            <a href="/student-detail" class="button button-border button-circle button-dark w-75">Detail</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="team card shadow-sm border-0 h-shadow h-translatey-sm all-ts rounded-4 overflow-hidden">
                        <div class="team-image">
                            <img src="/assets/images/student/4.jpg" alt="John Doe">
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end" data-hover-animate="fadeIn" data-hover-speed="400">
                                    <a href="#" class="social-icon si-colored si-small si-facebook" title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-twitter" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-github" title="Github">
                                        <i class="icon-github"></i>
                                        <i class="icon-github"></i>
                                    </a>
                                </div>
                                <div class="bg-overlay-bg" data-hover-animate="fadeIn" ></div>
                            </div>
                        </div>
                        <div class="team-desc team-desc-bg">
                            <div class="team-title"><h4>John Doe</h4><span class="fst-normal">CEO</span></div>
                            <a href="/student-detail" class="button button-border button-circle button-dark w-75">Detail</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="team card shadow-sm border-0 h-shadow h-translatey-sm all-ts rounded-4 overflow-hidden">
                        <div class="team-image">
                            <img src="/assets/images/student/2.jpg" alt="John Doe">
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end" data-hover-animate="fadeIn" data-hover-speed="400">
                                    <a href="#" class="social-icon si-colored si-small si-facebook" title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-twitter" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-github" title="Github">
                                        <i class="icon-github"></i>
                                        <i class="icon-github"></i>
                                    </a>
                                </div>
                                <div class="bg-overlay-bg" data-hover-animate="fadeIn" ></div>
                            </div>
                        </div>
                        <div class="team-desc team-desc-bg">
                            <div class="team-title"><h4>John Doe</h4><span class="fst-normal">CEO</span></div>
                            <a href="/student-detail" class="button button-border button-circle button-dark w-75">Detail</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="team card shadow-sm border-0 h-shadow h-translatey-sm all-ts rounded-4 overflow-hidden">
                        <div class="team-image">
                            <img src="/assets/images/student/3.jpg" alt="John Doe">
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end" data-hover-animate="fadeIn" data-hover-speed="400">
                                    <a href="#" class="social-icon si-colored si-small si-facebook" title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-twitter" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-github" title="Github">
                                        <i class="icon-github"></i>
                                        <i class="icon-github"></i>
                                    </a>
                                </div>
                                <div class="bg-overlay-bg" data-hover-animate="fadeIn" ></div>
                            </div>
                        </div>
                        <div class="team-desc team-desc-bg">
                            <div class="team-title"><h4>John Doe</h4><span class="fst-normal">CEO</span></div>
                            <a href="/student-detail" class="button button-border button-circle button-dark w-75">Detail</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="team card shadow-sm border-0 h-shadow h-translatey-sm all-ts rounded-4 overflow-hidden">
                        <div class="team-image">
                            <img src="/assets/images/student/4.jpg" alt="John Doe">
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end" data-hover-animate="fadeIn" data-hover-speed="400">
                                    <a href="#" class="social-icon si-colored si-small si-facebook" title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-twitter" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-github" title="Github">
                                        <i class="icon-github"></i>
                                        <i class="icon-github"></i>
                                    </a>
                                </div>
                                <div class="bg-overlay-bg" data-hover-animate="fadeIn" ></div>
                            </div>
                        </div>
                        <div class="team-desc team-desc-bg">
                            <div class="team-title"><h4>John Doe</h4><span class="fst-normal">CEO</span></div>
                            <a href="/student-detail" class="button button-border button-circle button-dark w-75">Detail</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="team card shadow-sm border-0 h-shadow h-translatey-sm all-ts rounded-4 overflow-hidden">
                        <div class="team-image">
                            <img src="/assets/images/student/3.jpg" alt="John Doe">
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end" data-hover-animate="fadeIn" data-hover-speed="400">
                                    <a href="#" class="social-icon si-colored si-small si-facebook" title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-twitter" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-colored si-small si-github" title="Github">
                                        <i class="icon-github"></i>
                                        <i class="icon-github"></i>
                                    </a>
                                </div>
                                <div class="bg-overlay-bg" data-hover-animate="fadeIn" ></div>
                            </div>
                        </div>
                        <div class="team-desc team-desc-bg">
                            <div class="team-title"><h4>John Doe</h4><span class="fst-normal">CEO</span></div>
                            <a href="/student-detail" class="button button-border button-circle button-dark w-75">Detail</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section><!-- #content end -->
</div>