

h2 {
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-size: 25px;
    color: aliceblue;
}

h4 {
    font-family: monospace;
    text-align: center;
    color: aliceblue;

}

.content-wrap{
    background-color: #ffffff;
  }

  img{
      border-radius: 40px;
  }
  .content-wrap{
    background-color: #252529;
  }

  .t0{
    font-family:'Prompt', sans-serif;
    color: aliceblue;
  }

  .t1{
    font-family:'Prompt', sans-serif;
    color: aliceblue;
  }

  .t2{
    font-family:'Prompt', sans-serif;
    color: aliceblue;
  }

  .t3{
    font-family:'Prompt', sans-serif;
    color: aliceblue;
  }

  .t4{
    font-family:'Prompt', sans-serif;
    color: aliceblue;
  }

  .t5{
    font-family:'Prompt', sans-serif;
    color: aliceblue;
  }

  .t6{
    font-family:'Prompt', sans-serif;
    color: aliceblue;
    font-weight: bold;
  }

  .t7{
    font-family:'Prompt', sans-serif;
    color: aliceblue;
    font-weight: 300;
  }
