<div id="section-portfolio" class="center page-section"></div>
<section id="content">
    <div class="content-wrap">
        <div class="container center">
            <br>
            <h2>Profile</h2>

            <div class="row gutter-50">

                <!-- Portfolio Single Image
                ============================================= -->
                <div class="col-lg-6 portfolio-single-image" data-lightbox="gallery">
                    <div class="col-lg-10">
                        <div class="col-lg-10 offset-md-2">
                            <p class="t0" style="font-size:23px;text-align:justify;">
                                Dr.Ekkarat Boonchieng
                            </p>
                            <p class="t0" style="font-size:23px;text-align:justify;">
                                Associate Professor
                            </p><br>
                            <p class="t6" style="font-size:23px;text-align:justify;">
                                Address
                            </p>
                            <p class="t7" style="font-size:23px;text-align:justify;">
                                Faculty of Science
                                Department of Computer Science
                                Chiang Mai University
                            </p><br>
                            <p class="t6" style="font-size:23px;text-align:justify;">
                                Phone
                            </p>
                            <p class="t7" style="font-size:23px;text-align:justify;">
                                0818811083
                            </p><br>
                            <p class="t6" style="font-size:23px;text-align:justify;">
                                E-mail 
                            </p>
                            <p class="t7" style="font-size:23px;text-align:justify;">
                                ekkarat.boonchieng@cmu.ac.th
                            </p><br>
                            <p class="t6" style="font-size:23px;text-align:justify;">
                                Date of birth
                            </p>
                            <p class="t7" style="font-size:23px;text-align:justify;">
                                1967-06-18
                            </p>
                        </div>
                    </div>
                </div><!-- .portfolio-single-image end -->

                <!-- Portfolio Single Content
                ============================================= -->
                <div class="col-lg-6 portfolio-single-content content-sticky">

                    <div class="row col-mb-30">
                        <a  class="col-lg-12 col-md-6" data-lightbox="gallery-item"><img src="assets\demos\photography\images\teacher\_73A1325.jpg" alt="Image 1"></a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="container center">
            <div class="row gutter-50">

                <div class="col-lg-6 portfolio-single-content content-sticky">

                    <div class="row col-mb-30">
                        <h4 align='center'>Skills</h4>
                        <div class="row col-mb-30">
                            <div class="postcontent col-md-12">
                                <br>
                                <div class="col-lg-11 offset-md-1">
                                     <p class="t1" style="font-size:23px;text-align:left;">• LINUX<br><br>
                                        • Java<br><br>
                                        • Python<br><br>
                                        • MySQL<br><br>
                                        • MongoDB<br><br>
                                        • RapidMiner
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>

                <!-- Portfolio Single Content
                    ============================================= -->
                <div class="col-lg-6 portfolio-single-image" data-lightbox="gallery">
                    <h4 align='center'>Certificates</h4><br>
                    <div class="col-lg-12 offset-md-0">
                    <p class="t2" style="font-size:23px;text-align:justify;">
                        • Cisco Certified Network Associated (Cisco Network Academy Program)<br><br>
                        • Cisco Certified Network Professional (Cisco Network Academy Program)<br><br>
                        • Cisco Certified Network Associated Security (Cisco Network Academy Program)<br><br>
                        • LINUX Professional Institute Level 1<br><br>
                        • LINUX Professional Institute Level 2<br><br>
                        • Rapidminer: Data Engineering and Machine Learning Professional Certification
                    </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="container center">
            <div class="row gutter-50">

                <div class="col-lg-6 portfolio-single-content content-sticky">

                    <div class="row col-mb-30">
                        <h4 align='center'>Teaching Courses</h4><br>
                        <div class="row col-mb-30">
                            <div class="postcontent col-md-12">
                                <br>
                                <div class="col-lg-11 offset-md-1">
                                <p class="t3" style="font-size:23px;text-align:left;">
                                    • Computer Graphics<br><br>
                                    • Image Processing<br><br>
                                    • Data Communications and Computer Network<br><br>
                                    • Database Management System<br><br>
                                    • Operating System<br><br>
                                    • Computer Security<br><br>
                                    • Parallel Processing<br><br>
                                    • Concurrent Programming<br><br>
                                    • Python Programming<br><br>
                                    • Certified of Information System Security Professional<br><br>
                                    • Certified Ethical Hacker
                                </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <!-- Portfolio Single Content
                    ============================================= -->
                <div class="col-lg-6 portfolio-single-image" data-lightbox="gallery">
                    <h4 align='center'>Research</h4><br>
                    <p class="t4" style="font-size:23px;text-align:justify;">
                        Open Urban Data Project - Thailand Research Fund
                        Chiang Mai Community Health Project - Thai Health Promotion Foundation
                        International Research Network in Digital Image Processing and Machine Learning
                        Under Thailand Science Research and Innovation Fund
                    </p>
                </div>

            </div>
        </div>

    </div>
</section>