<div id="section-gallery" class="center page-section">
<section id="content">
    <div class="content-wrap">
        <div class="container center">
            <h3>Gallery</h3><br><br>
        </div>
        <div class="container clearfix col-sm-10">
            <div class="clear"></div>
                    <div class="masonry-thumbs grid-container grid-3" data-big="2" data-lightbox="gallery">
						<a class="grid-item" href="assets\demos\photography\images\teacher\g1.jpg" data-lightbox="gallery-item"><img src="assets\demos\photography\images\teacher\g1.jpg" alt="Gallery Thumb 1"></a>
						<a class="grid-item" href="assets\demos\photography\images\teacher\g2.jpg" data-lightbox="gallery-item"><img src="assets\demos\photography\images\teacher\g2.jpg" alt="Gallery Thumb 2"></a>
						<a class="grid-item" href="assets\demos\photography\images\teacher\g3.jpg" data-lightbox="gallery-item"><img src="assets\demos\photography\images\teacher\g3.jpg" alt="Gallery Thumb 3"></a>
						<a class="grid-item" href="assets\demos\photography\images\teacher\g10.jpg" data-lightbox="gallery-item"><img src="assets\demos\photography\images\teacher\g10.jpg" alt="Gallery Thumb 4"></a>
						<a class="grid-item" href="assets\demos\photography\images\teacher\g5.jpg" data-lightbox="gallery-item"><img src="assets\demos\photography\images\teacher\g5.jpg" alt="Gallery Thumb 5"></a>
						<a class="grid-item" href="assets\demos\photography\images\teacher\g6.jpg" data-lightbox="gallery-item"><img src="assets\demos\photography\images\teacher\g6.jpg" alt="Gallery Thumb 6"></a>
					</div>
					<div class="masonry-thumbs grid-container grid-3" data-big="3" data-lightbox="gallery">
						<a class="grid-item" href="assets\demos\photography\images\teacher\g11.jpg" data-lightbox="gallery-item"><img src="assets\demos\photography\images\teacher\g11.jpg" alt="Gallery Thumb 1"></a>
						<a class="grid-item" href="assets\demos\photography\images\teacher\g12.jpg" data-lightbox="gallery-item"><img src="assets\demos\photography\images\teacher\g12.jpg" alt="Gallery Thumb 2"></a>
						<a class="grid-item" href="assets\demos\photography\images\teacher\g14.jpg" data-lightbox="gallery-item"><img src="assets\demos\photography\images\teacher\g14.jpg" alt="Gallery Thumb 3"></a>
						<a class="grid-item" href="assets\demos\photography\images\teacher\g15.jpg" data-lightbox="gallery-item"><img src="assets\demos\photography\images\teacher\g15.jpg" alt="Gallery Thumb 4"></a>
						<a class="grid-item" href="assets\demos\photography\images\teacher\g17.jpg" data-lightbox="gallery-item"><img src="assets\demos\photography\images\teacher\g17.jpg" alt="Gallery Thumb 5"></a>
						<a class="grid-item" href="assets\demos\photography\images\teacher\g18.jpg" data-lightbox="gallery-item"><img src="assets\demos\photography\images\teacher\g18.jpg" alt="Gallery Thumb 6"></a>
					</div>
        </div>
    </div>
</section><!-- #content end -->
</div>
