h3{
    font-family: monospace;
    font-weight: bold;
    font-style: oblique;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-shadow: 3px 2px rgb(250, 248, 248);
}

.content-wrap{
    background-color: #ffffff;
  }

.entry-title{
    text-align: center;
}
