<div id="section-publication" class="center page-section">
<section id="content">
    <div class="content-wrap">
    <div class="container">
        <h3>PUBILCATION</h3><br><br>
    </div>
        <div class="container clearfix">

            <!-- Posts
            ============================================= -->
            <div id="posts" class="post-grid grid-container row" data-layout="fitRows">



                <div class="entry col-lg-4 col-md-6 col-12">
                    <div class="grid-inner bg-light rounded-1">
                        <div class="bg-overlay position-relative">
                            <div class="bg-overlay-content flex-wrap justify-content-start position-relative p-5" data-hover-animate="fadeIn dark" data-hover-speed="0" style="opacity: 1 !important">
                                <div class="entry-title mx-auto">
                                    <br>  <h2><a href="blog-single.html">Book</a></h2>
                                </div>
                                <div class="entry-meta">
                                    
                                </div>
                                <div class="entry-content">
                                    <p>Data Clustering and Data Classification. ISBN 978-616-468-582-6. Siam
                                        Pimnana: May 2018.</p>
                                    
                                </div>
                            </div>
                            <div class="bg-overlay-bg" data-hover-animate="fadeIn"  data-hover-parent=".entry" style="background: radial-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)), url('images/blog/grid/17.jpg') no-repeat center center / cover;"></div>
                        </div>
                    </div>
                </div>
                <div class="entry col-lg-4 col-md-6 col-12">
                    <div class="grid-inner bg-light rounded-1">
                        <div class="bg-overlay position-relative">
                            <div class="bg-overlay-content flex-wrap justify-content-start position-relative p-5" data-hover-animate="fadeIn dark" data-hover-speed="0" style="opacity: 1 !important">
                                <div class="entry-title mx-auto">
                                    <br><h2><a href="blog-single.html">Book</a></h2>
                                </div>
                                <div class="entry-meta">
                                    
                                </div>
                                <div class="entry-content">
                                    <p>Data Clustering and Data Classification with Python and RapidMiner. ISBN:
                                        978-616-485-966-1. Siam Pimnana: May 2019.</p>
                                    
                                </div>
                            </div>
                            <div class="bg-overlay-bg" data-hover-animate="fadeIn"  data-hover-parent=".entry" style="background: radial-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)), url('images/blog/grid/17.jpg') no-repeat center center / cover;"></div>
                        </div>
                    </div>
                </div>
                <div class="entry col-lg-4 col-md-6 col-12">
                    <div class="grid-inner bg-light rounded-1">
                        <div class="bg-overlay position-relative">
                            <div class="bg-overlay-content flex-wrap justify-content-start position-relative p-5" data-hover-animate="fadeIn dark" data-hover-speed="0" style="opacity: 1 !important">
                                <!-- <div class="entry-title">
                                    <h2><a href="blog-single.html"></a></h2>
                                </div> -->
                                <!-- <div class="entry-meta">
                                    
                                </div> -->
                                <div class="entry-content">
                                    <p>Kannikar Intawong, Waraporn Boonchieng, Peerasak Lerttrakarnnon, Ekkarat
                                        Boonchieng and Kitti Puritat, “A-SA SOS: A Mobile- and IoT-based Pre-hospital
                                        Emergency Service for the Elderly and Village Health Volunteers” International
                                        Journal of Advanced Computer Science and Applications (IJACSA), 12(4), 2021,
                                        doi: 10.14569/IJACSA.2021.0120465.</p>
                                    
                                </div>
                            </div>
                            <div class="bg-overlay-bg" data-hover-animate="fadeIn"  data-hover-parent=".entry" style="background: radial-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)), url('images/blog/grid/17.jpg') no-repeat center center / cover;"></div>
                        </div>
                    </div>
                </div>
                <div class="entry col-lg-4 col-md-6 col-12">
                    <div class="grid-inner bg-light rounded-1">
                        <div class="bg-overlay position-relative">
                            <div class="bg-overlay-content flex-wrap justify-content-start position-relative p-5" data-hover-animate="fadeIn dark" data-hover-speed="0" style="opacity: 1 !important">
                                <!-- <div class="entry-title">
                                    <h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
                                </div>
                                <div class="entry-meta">
                                    
                                </div> -->
                                <div class="entry-content">
                                    <p>W. Boonchieng, J. Chaiwan, B. Shrestha, M. Shrestha, A. J. O. Dede and E.
                                        Boonchieng, "mHealth Technology Translation in a Limited Resources
                                        Community—Process, Challenges, and Lessons Learned From a Limited Resources
                                        Community of Chiang Mai Province, Thailand," in IEEE Journal of Translational
                                        Engineering in Health and Medicine, vol. 9, pp. 1-8, 2021, Art no. 3700108, doi:
                                        10.1109/JTEHM.2021.3055069</p>
                                    
                                </div>
                            </div>
                            <div class="bg-overlay-bg" data-hover-animate="fadeIn"  data-hover-parent=".entry" style="background: radial-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)), url('images/blog/grid/17.jpg') no-repeat center center / cover;"></div>
                        </div>
                    </div>
                </div>
                <div class="entry col-lg-4 col-md-6 col-12">
                    <div class="grid-inner bg-light rounded-1">
                        <div class="bg-overlay position-relative">
                            <div class="bg-overlay-content flex-wrap justify-content-start position-relative p-5" data-hover-animate="fadeIn dark" data-hover-speed="0" style="opacity: 1 !important">
                                <!-- <div class="entry-title">
                                    <h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
                                </div>
                                <div class="entry-meta">
                                    
                                </div> -->
                                <div class="entry-content">
                                    <p>Pikulkaew K., Boonchieng E., Boonchieng W., Chouvatut V. (2021) Pain Detection
                                        Using Deep Learning with Evaluation System. In: Yang XS., Sherratt S., Dey N., Joshi 
                                        A. (eds) Proceedings of Fifth International Congress on Information and
                                        Communication Technology. Advances in Intelligent Systems and Computing, vol
                                        1184. Springer, Singapore. https://doi.org/10.1007/978-981-15-5859-7_42.</p>
                                    
                                </div>
                            </div>
                            <div class="bg-overlay-bg" data-hover-animate="fadeIn"  data-hover-parent=".entry" style="background: radial-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)), url('images/blog/grid/17.jpg') no-repeat center center / cover;"></div>
                        </div>
                    </div>
                </div>
                <div class="entry col-lg-4 col-md-6 col-12">
                    <div class="grid-inner bg-light rounded-1">
                        <div class="bg-overlay position-relative">
                            <div class="bg-overlay-content flex-wrap justify-content-start position-relative p-5" data-hover-animate="fadeIn dark" data-hover-speed="0" style="opacity: 1 !important">
                                <!-- <div class="entry-title">
                                    <h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
                                </div>
                                <div class="entry-meta">
                                    
                                </div> -->
                                <div class="entry-content">
                                    <p>Sirinan Yimkosol, Wanchai Lertwatthanawilat, Ekkarat Boonchieng, Waraporn
                                        Boonchieng, “Development of Smartphone Application in Preventing Infection for
                                        Caregivers of Children with Cancer Receiving Chemotherapy”, Nursing Journal
                                        volume 47 No.3 July-September 2020.</p>
                                    
                                </div>
                            </div>
                            <div class="bg-overlay-bg" data-hover-animate="fadeIn"  data-hover-parent=".entry" style="background: radial-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)), url('images/blog/grid/17.jpg') no-repeat center center / cover;"></div>
                        </div>
                    </div>
                </div>

            







            </div><!-- #posts end -->

            <!-- Pagination
            ============================================= -->

        </div>
    </div>
</section><!-- #content end -->
</div>
