h2 {
    font-family: monospace;
    font-weight: bold;
    font-style: oblique;
    font-size: 25px;
    color: aliceblue;
    padding-top: 5%;
    text-shadow: 3px 2px rgb(0, 0, 0);
}

h6{
    font-family: monospace;
    font-size: 14px;
    text-align: left;
    color: aliceblue;
}

p{
    font-family: monospace;
    font-weight: 400px;
    color: aliceblue;
    font-size: 23px;
    text-align: left;
}

B{
    font-family: monospace;
    font-weight: bold;
    color: rgb(3, 4, 5);
}

h4 {
    font-family: monospace;
    font-weight: bold;
    text-align: justify;
    color: aliceblue;

}


.content-wrap{
    background-color: #ffffff;
  }

  img{
    border-radius: 40px;
  }

  .entry-content.col-lg-11.offset-md-1{
      font-family: monospace;
      font-size: 14px;
      font-weight: bold;
      text-align: justify;
  }

  .content-wrap{
    background-color: #252529;
  }

