<!-- Document Wrapper
============================================= -->


<div id="wrapper" class="clearfix"></div>
<section id="content">
    <div class="content-wrap">

        <div class="container center">
            <div class="row gutter-50">
                <br>
                <h2>Position</h2>
                <div class="col-lg-6 portfolio-single-content content-sticky">

                    <div class="row col-mb-30">
                        <a class="col-lg-12 col-md-6" data-lightbox="gallery-item"><img
                                src="assets\demos\photography\images\teacher\_73A1259.jpg" alt="Image 1"></a>
                    </div><br><br>
                </div>

                <div class="col-lg-6 portfolio-single-image" data-lightbox="gallery">
                    <p>Deputy Dean of Graduate School<br><br>

                        Director, Center of Excellence in Community Health Informatics, Chiang Mai University<br><br>

                        ECTI Technical Chair (Computers)<br>
                        Electrical Engineering/Electronics,Computer,Telecommunications and Information Technology
                        Association of Thailand (ECTI Thailand)</p>
                </div>
            </div>
            <br><br>

        </div>

        <br><br><br><br>


        <div class="container center">
            <div class="row gutter-50">
                <br>
                 <h2>Timeline</h2>

                <!-- Portfolio Single Image
                    ============================================= -->

                <div class="col-lg-6 portfolio-single-content content-sticky">

                    <div class="row col-mb-30">
                        <div class="postcontent col-md-12">
                            <h4 align='center'>Eduacation</h4><br><br>
                            <!-- Posts
                                ============================================= -->
                            <div class="col-lg-12 offset-md-0">
                                <div id="posts" class="post-timeline">
                                    <div class="entry">
                                        <div class="entry-timeline">
                                            <span><B>1987<br>-<br>1990</B></span>
                                            <div class="timeline-divider"></div>
                                        </div>
                                        <div class="entry-title col-lg-11 offset-md-1">
                                            <h4>Khon Kaen University</h4>
                                        </div>

                                        <div class="entry-content col-lg-11 offset-md-1">
                                            <h6>
                                                BS. (Computer Science)
                                            </h6>
                                        </div>

                                    </div>

                                    <br>

                                    <div class="entry">
                                        <div class="entry-timeline">
                                            <span><B>1991<br>-<br>1992</B></span>
                                            <div class="timeline-divider"></div>
                                        </div>
                                        <div class="entry-title col-lg-11 offset-md-1">
                                            <h4>University of New Haven</h4>
                                        </div>

                                        <div class="entry-content col-lg-11 offset-md-1">
                                            <h6>
                                                MS. (Computer Science)
                                            </h6>
                                            <!-- <a href="blog-single.html" class="more-link">Read More</a> -->
                                        </div>

                                    </div>

                                    <br>

                                    <div class="entry">
                                        <div class="entry-timeline">
                                            <span><B>1995<br>-<br>2000</B></span>
                                            <div class="timeline-divider"></div>
                                        </div>
                                        <div class="entry-title col-lg-11 offset-md-1">
                                            <h4>Illinois Institute of Technology</h4>
                                        </div>

                                        <div class="entry-content col-lg-11 offset-md-1">
                                            <h6>
                                                Ph.D. (Computer Science)
                                            </h6>
                                            <!-- <a href="blog-single.html" class="more-link">Read More</a> -->
                                        </div>

                                    </div>

                                    <br>

                                </div><!-- #posts end -->
                            </div>        
                        </div>

                    </div>
                </div>

                <!-- Portfolio Single Content
                    ============================================= -->
                <div class="col-lg-6 portfolio-single-image" data-lightbox="gallery">
                    <div class="postcontent col-md-12">
                        <h4 align='center'>Experience</h4><br><br>
                        <div class="col-lg-12 offset-md-0">
                        <!-- Posts
                            ============================================= -->
                            <div id="posts" class="post-timeline">
                                <div class="entry">
                                    <div class="entry-timeline">
                                        <span><B>2018<br>-<br>present</B></span>
                                        <div class="timeline-divider"></div>
                                    </div>
                                    <div class="entry-title col-lg-11 offset-md-1">
                                        <h4>ECTI Technical Chair (Computers)</h4>
                                    </div>

                                    <div class="entry-content col-lg-11 offset-md-1">
                                        <h6>
                                            Electrical Engineering/Electronics, Computer, Telecommunications and
                                            Information Technology Association of Thailand (ECTI Thailand)
                                        </h6>
                                    </div>

                                </div>

                                <br>

                                <div class="entry">
                                    <div class="entry-timeline">
                                        <span><B>2021<br>-<br>present</B></span>
                                        <div class="timeline-divider"></div>
                                    </div>
                                    <div class="entry-title col-lg-11 offset-md-1">
                                        <h4>Deputy Dean of Graduate School</h4>
                                    </div>

                                    <div class="entry-content col-lg-11 offset-md-1">
                                        <h6>
                                            Chiang Mai University
                                        </h6>
                                        <!-- <a href="blog-single.html" class="more-link">Read More</a> -->
                                    </div>

                                </div>

                                <br>

                                <div class="entry">
                                    <div class="entry-timeline">
                                        <span><B>2018<br>-<br>2021</B></span>
                                        <div class="timeline-divider"></div>
                                    </div>
                                    <div class="entry-title col-lg-11 offset-md-1">
                                        <h4>Deputy Director</h4>
                                    </div>

                                    <div class="entry-content col-lg-11 offset-md-1">
                                        <h6>
                                           Chiang Mai University Service Center (Uniserv)
                                        </h6>
                                        <!-- <a href="blog-single.html" class="more-link">Read More</a> -->
                                    </div>

                                </div>

                                <br>

                                <div class="entry">
                                    <div class="entry-timeline">
                                        <span><B>2015<br>-<br>present</B></span>
                                        <div class="timeline-divider"></div>
                                    </div>

                                    <div class="entry-title col-lg-11 offset-md-1">
                                        <h4>Director</h4>
                                    </div>

                                    <div class="entry-content col-lg-11 offset-md-1">
                                        <h6>
                                            Centre of Excellence in Community Health informatics, Chiang Mai University
                                            
                                        </h6>
                                        <!-- <a href="blog-single.html" class="more-link">Read More</a> -->
                                    </div>
                                    <br>
                                    <div class="entry-title col-lg-11 offset-md-1">
                                        <h4>Responsibilities:</h4>
                                    </div>

                                    <div class="entry-content col-lg-11 offset-md-1">
                                        <h6>
                                            • IEEE Xtreme Proctor <br>
                                                • General Chair, Workshop on Internet Architecture and Applications (IA
                                                2014)<br>
                                                • General Chair, The 19st International Computer Science and Engineering
                                                Conference 2015 (ICSEC 2015)<br>
                                                • General Chair, The Sixth International Conference on Control Automation &
                                                Information Sciences (ICCAIS 2017)<br>
                                                • General Chair, The 22nd International Computer Science and Engineering
                                                Conference 2018 (ICSEC 2018)<br>
                                                • General Chair, The 11th Biomedical Engineering International Conference
                                                2018 (BMEiCON 2018)<br>
                                                • Data Science Session Chair, 2020 IEEE 17th International Conference on
                                                Electrical Engineering/Electronics, Computer, Telecommunications and
                                                Information Technology (ECTI-CON 2020)<br>
                                                • Data Science Session Chair, 2021 IEEE 18th International Conference on
                                                Electrical Engineering/Electronics, Computer, Telecommunications and
                                                Information Technology (ECTI-CON 2021)<br>
                                                • Vice General Co-Chairs of The 36th International Conference on Information
                                                Networking (ICOIN 2022)
                                        </h6>
                                        <!-- <a href="blog-single.html" class="more-link">Read More</a> -->
                                    </div>

                                </div>

                                <br>

                                <div class="entry">
                                    <div class="entry-timeline">
                                        <span><B>2009<br>-<br>2013</B></span>
                                        <div class="timeline-divider"></div>
                                    </div>
                                    <div class="entry-title col-lg-11 offset-md-1">
                                        <h4>Head of Computer Science Department</h4>
                                    </div>

                                    <div class="entry-content col-lg-11 offset-md-1">
                                        <h6>
                                            Faculty of Science, Chiang Mai University
                                        </h6>
                                        <!-- <a href="blog-single.html" class="more-link">Read More</a> -->
                                    </div>
                                    <br>
                                    <div class="entry-title col-lg-11 offset-md-1">
                                        <h4>Responsibilities:</h4><br>
                                    </div>

                                    <div class="entry-content col-lg-11 offset-md-1">
                                        <h6>
                                           • Organized IEEE International Computer Science and Engineering Conference
                                                2010<br>
                                                • Organized National Olympiad Informatics 2011
                                        </h6>
                                        <!-- <a href="blog-single.html" class="more-link">Read More</a> -->
                                    </div>

                                </div>

                                <br>

                                <div class="entry">
                                    <div class="entry-timeline">
                                        <span><B>1992<br>-<br>1993</B></span>
                                        <div class="timeline-divider"></div>
                                    </div>

                                    <div class="entry-title col-lg-11 offset-md-1">
                                        <h4>Research and Development</h4>
                                    </div>

                                    <div class="entry-content col-lg-11 offset-md-1">
                                        <h6>
                                            Siam Commercial Bank, Head Office
                                        </h6>
                                        <!-- <a href="blog-single.html" class="more-link">Read More</a> -->
                                    </div>
                                    <br>
                                    <div class="entry-title col-lg-11 offset-md-1">
                                        <h4>Responsibilities:</h4>
                                    </div>
                                    <div class="entry-content col-lg-11 offset-md-1">
                                        <h6>
                                            Looking for new technology for bank
                                        </h6>
                                        <!-- <a href="blog-single.html" class="more-link">Read More</a> -->
                                    </div>

                                </div>

                            </div><!-- #posts end -->
                        </div>    
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- #content end -->