	


  <!-- <div class="container-fluid"> -->
  <router-outlet>
  </router-outlet>
  
  <!-- footer -->
  <app-footer></app-footer>

  <!-- </div> -->


	<!-- JavaScripts
	============================================= -->
	<!-- <script src="./assets/js/jquery.js"></script>
	<script src="./assets/js/plugins.min.js"></script> -->