.footer {
	background: #3F729B;
	padding: 2em;
  }

.mb-17 {
    margin-bottom: 14.25rem!important;
}

.mb-5 {
    margin-bottom: 1rem!important;
}

.card>.card-body {
    padding: 2rem 2.25rem;
}

.pt-18 {
    padding-top: 0.5rem!important;
}

.pb-15 {
    padding-bottom: 0.75rem!important;
}

.seed-social a {
    color: #fff;
    display: block;
    padding: 6px 12px 4px 8px;
    border-radius: 3px;
    width: auto;
    height: auto;
    line-height: 20px;
}

.seed-social .facebook a {
    background-color: #3b5998;
    float: left;
}


.btn.btn-primary {
    color: #fff;
    border-color: #009ef7;
    background-color: #104480 !important;
}

.menu-gray-600 .menu-item .menu-link {
    color: #f6f8ff !important;
}

.text-muted {
    color: #adb2b7 !important;
}