
		
<router-outlet>
    <app-slider></app-slider>
    <app-intro></app-intro>
    <app-position></app-position>
    <app-student></app-student>
    <app-portfolio></app-portfolio>
    <app-grallery></app-grallery>
    <app-pubilcation></app-pubilcation>
    <app-entertainer></app-entertainer>
    <app-newsit></app-newsit>
    <app-contact></app-contact>

    <!-- <app-footer></app-footer> -->
</router-outlet>
