<section id="content">
    <div class="content-wrap">
        <div class="container">

            <div class="single-post mb-0 mw-sm mx-auto">

                <!-- Single Post
                ============================================= -->
                <div class="entry">

                    <!-- Entry Title
                    ============================================= -->
                <div class="center">
                    <div class="entry-title" >
                        <h2>News title</h2>
                    </div><!-- .entry-title end -->
                </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-md-3">
                            <!-- Entry Meta
                            ============================================= -->
                            <div>
                                <ul class="d-flex flex-column entry-meta no-separator">
                                    <li class="me-0"><i class="icon-calendar3"></i> 10th July 2021 (news date)</li>
                                    
                                </ul>
                            </div><!-- .entry-meta end -->
                        </div>
                        <div class="col-md-9">
                            <p class="text-larger text-muted mt-3">------------------ shotdetail news -------------------</p>
                        </div>
                    </div>

                    <!-- Entry Image
                    ============================================= -->
                    <div class="entry-image align-wide-xl my-3">
                        <a href="#"><img src="\assets\images\news\bgn1.jpg" alt="Blog Single"></a>
                        <figcaption class="text-center mt-2 text-muted text-smaller">Image Caption Text</figcaption>
                    </div><!-- .entry-image end -->

                    <!-- Entry Content
                    ============================================= -->
                    <div class="entry-content mt-3">

                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. <a href="#">Curabitur blandit tempus porttitor</a>. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>

                        <blockquote><p>Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p></blockquote>

                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus.</p>

                        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. <a href="#">Nullam quis risus eget urna</a> mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>


                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

                        <div class="row align-wide-lg mb-4 text-center">
                            <div class="col-sm-6">
                                <img src="\assets\images\news\n6.png" alt="Image">
                                <figcaption class="text-center mt-2 text-muted text-smaller">Image Caption Text</figcaption>
                            </div>
                            <div class="col-sm-6">
                                <iframe width="560"height="315" src="https://www.youtube.com/embed/P3Huse9K6Xs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <figcaption class="text-center mt-2 text-muted text-smaller">Video Caption Text</figcaption>
                            </div>
                        </div>

                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>
                        <!-- Post Single - Content End -->

                        <!-- Tag Cloud
                        ============================================= -->
                        <!-- <div class="tagcloud clearfix bottommargin">
                            <a href="#">general</a>
                            <a href="#">information</a>
                            <a href="#">media</a>
                            <a href="#">press</a>
                            <a href="#">gallery</a>
                            <a href="#">illustration</a>
                        </div> -->
                        <!-- .tagcloud end -->

                        <div class="clear"></div>

                    </div>
                </div><!-- .entry end -->

              

               

                
            </div>

        </div>
    </div>
</section>