	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		<!-- Footer
		============================================= -->
		<footer id="footer" class="bg-light border-width-1 border-f2">
			<div class="container">

				<div class="row justify-content-between col-mb-30" style="margin-top: 10px;">
					<div class="col-12 col-lg-auto text-center text-lg-start">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="#section-intro">About Us</a>/
							<a href="#section-portfolio">Portfolio</a>/
							<a href="#section-gallery">Gallery</a>/
							<a href="#section-publication">Publication</a>/
							<a href="#section-entertainer">Entertainer</a>/
							<a href="#section-contact">News</a>
						</div>
						Copyrights &copy; 2020 All Rights Reserved by Canvas Inc.
					</div>

					<div class="col-12 col-lg-auto text-center text-lg-end" style="margin-top: 10px;">
						<a href="http://facebook.com/ekkarat.boonchieng" class="social-icon inline-block si-small si-borderless mb-0 si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>

						<a href="tel:0818811083" class="social-icon inline-block si-small si-borderless mb-0 si-phone">
							<i class="icon-phone"></i>
							<i class="icon-phone"></i>
						</a>

						<a href="mailto:ekkarat.boonchieng@cmu.ac.th@gmail.com" class="social-icon inline-block si-small si-borderless mb-0 si-gmail">
							<i class="icon-gmail"></i>
							<i class="icon-gmail"></i>
						</a>

						<a href="https://www.instagram.com/ekkarat001" class="social-icon inline-block si-small si-borderless mb-0 si-instagram">
							<i class="icon-instagram"></i>
							<i class="icon-instagram"></i>
						</a>
					</div>
				</div>

					
					
				<!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->

			<!-- #copyrights end -->
		</footer>
		<!-- #footer end -->

	</div><!-- #wrapper end -->
	
	