h1 {
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
    color:rgb(175, 171, 182);
    outline: black;
    text-shadow: 3px 2px rgb(0, 0, 0);
}

em {
    font-family: monospace;
    font-weight: 20;
    font-style: italic;
    color: rgb(175, 171, 182);
    outline: black;
    text-shadow: 3px 2px rgb(0, 0, 0);
}

.content-wrap{
    background-color: #ffffff;
  }
