
<section id="slider" class="slider-element include-header" style="background:#1E232A; height: 800px;">
    <div class="move-bg position-absolute w-100 h-100" style="top: 0; left: 0;background: url('./assets/images/docimage/bg5.jpg') center center no-repeat; background-size: cover;"></div>
    <div class="vertical-middle ignore-header">
        <div class="container dark py-5">
            <div class="row">
                <div class="col-lg-6 offset-lg-7 col-md-8" data-lightbox="gallery">
                    <div class="emphasis-title bottommargin-sm">
                        <h1 class="400" data-animate="fadeInUp" data-delay="600">Latest released by<br><em>Arnold Newman</em>.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Slider Video Overlay -->
    <div class="video-wrap" style="height: 800px; position: absolute; left: 0; bottom: 0;">
        <div class="video-overlay" style="background: -moz-linear-gradient(top,  rgba(30,35,42,0) 21%, rgba(30,35,42,0) 66%, rgba(30,35,42,1) 100%); background: -webkit-linear-gradient(top,  rgba(30,35,42,0) 21%,rgba(30,35,42,0) 66%,rgba(30,35,42,1) 100%); background: linear-gradient(to bottom,  rgba(30,35,42,0) 21%,rgba(30,35,42,0) 66%,rgba(30,35,42,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e232a', endColorstr='#1e232a',GradientType=0 );">
        </div>
    </div>
</section> 