

<!-- Document Wrapper
============================================= -->

<div id="section-intro" class="center page-section">
    <div id="wrapper" class="clearfix"></div>
    <section id="content">
        <div class="content-wrap">
            <div class="container">
                 <div class="row gutter-50">
                    <br><br>
                    <h2>About Us</h2>
                    <!-- Portfolio Single Image
                    ============================================= -->
                    <div class="col-lg-6 portfolio-single-image" data-lightbox="gallery">
                        <p>EKKARAT BOONCHIENG received the B.S. degree in computer science from Khon Kaen University, Khon Kaen Thailand, in 1990, M.S. degree in computer and information science from University of New Haven, West Haven, USA, in 1992 and Ph.D. degree in computer science from Illinois Institute of Technology, Illinois, USA, in 2000. He is currently working at Department of Computer Science, Chiang Mai University, Chiang Mai, Thailand. His research interests are data communication, computer networking, computer security, computer graphics, image processing, data science and biomedical engineering.
                            <br> <br>
                            Associate Professor of Computer Science<br>
                            ekkarat.boonchieng@cmu.ac.th</p>
                    </div><!-- .portfolio-single-image end -->

                    <!-- Portfolio Single Content
                    ============================================= -->
                    <div class="col-lg-6 portfolio-single-content content-sticky">

                        <div class="row col-mb-30">
                            <a  class="col-lg-12 col-md-6" data-lightbox="gallery-item"><img src="assets\demos\photography\images\teacher\_73A1246.jpg" alt="Image 1"></a>
                            
                        </div><br><br>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #content end -->
    </div>


