.block-portfolio-single .portfolio-single-content h2 {
  font-size: 1.75rem;
}

@media (min-width: 992px) {
  .block-portfolio-single .content-wrap { overflow: inherit; }

  .block-portfolio-single .portfolio-single-content.content-sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 60px;
      height: 100%;
  }

  .block-portfolio-single .portfolio-meta {
      font-size: .925rem;
  }

  .block-portfolio-single .portfolio-meta li {
      margin-bottom: 14px
  }
}

h2 {
  font-family: monospace;
  font-weight: bold;
  font-style: oblique;
  font-size: 25px;
  color: aliceblue;
  text-shadow: 3px 2px rgb(0, 0, 0);
  padding-top: 5%;
}

p {
  font-family: monospace;
  font-weight: 400px;
  color: aliceblue;
  text-align: left;
  font-size: 23px;
}

.content-wrap{
  background-color: #252529;
}

img{
  border-radius: 40px;
}



