h3{
    font-family: monospace;
    font-weight: bold;
    font-style: oblique;
    font-size: 25px;
    color: rgb(12, 10, 10);
    text-shadow: 2px 1px rgb(238, 235, 235);
}

.content-wrap{
    background-color: #f0f0f0;
  }

.img1 {
    height: 70;
    width: 70;
    padding: 5%;
    margin: 15px;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    object-fit: fill;
    
}

.img2{
    height: 50;
    width: 50;
    padding: 5%;
    margin: 5px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: fill;
    
}
.name1{
    font-family: monospace;
    text-align: left;
    color: rgb(12, 10, 10);
}

.mb-2 {
    font-family: monospace;
    background-color: transparent;
    text-align: justify;
    color: rgb(12, 10, 10);
}

.grid-inner.row.g-0.p-4.border.rounded{
    background-color: rgb(87, 82, 82);
}

