<div id="section-entertainer" class="center page-section">
	<section id="content">
		<div class="content-wrap">
			<div class="container clearfix">
				<h3 class="h1 fw-bold mb-3">ENTERTAINER</h3>
				<div class="row gutter-50">
                   <!-- .portfolio-single-image end -->

                    <!-- Portfolio Single Content
                    ============================================= -->
                    <div class="col-lg-6 portfolio-single-content content-sticky">
						<div class="row col-mb-30">
							
								<div class="col-lg-6 mb-lg-0">
									<img class="img2" src="./assets\demos\photography\images\angular1.png" alt="Inventore voluptates velit totam ipsa tenetur" >
									<a href="#" class="entry-image overflow-hidden"></a>
								</div>
								<div class="col-lg-6 ps-lg-4">
									<div class="entry-title title-sm">
										<br>
										<h2><a class="name1" href="#block-modal-ticket2" data-lightbox="inline">Angular Tutorial<br> For Beginners</a></h2>
									</div>
									<div class="entry-content">
										<br>
										<a class="bt" href="#block-modal-ticket" data-lightbox="inline" class="button button-border button-circle button-dark w-75">Watch Video</a>
									</div>
								</div>
							
						</div>
                    </div>

                    <div class="col-lg-6 portfolio-single-content content-sticky">
						<div class="row col-mb-30">
							
								<div class="col-lg-6 mb-lg-0">
									<img class="img2" src="./assets\demos\photography\images\python_fb.png" alt="Inventore voluptates velit totam ipsa tenetur">
									<a href="#" class="entry-image overflow-hidden"></a>
								</div>
								<div class="col-lg-6 ps-lg-4">
									<div class="entry-title title-sm">
										<br>
										<h2><a class="name1" href="#block-modal-ticket2">Learn PYTHON <br>in 5 MINUTES</a></h2>
									</div>
									<div class="entry-content">
										<br>
										<a class="bt" href="#block-modal-ticket2" data-lightbox="inline" class="button button-border button-circle button-dark w-75">Watch Video</a>
									</div>
								</div>
							
						</div>
                    </div>

					<div class="col-lg-6 portfolio-single-content content-sticky">
						<div class="row col-mb-30">
							
								<div class="col-lg-6 mb-lg-0">
									<img class="img1" src="./assets\demos\photography\images\CSS.jpg" alt="Inventore voluptates velit totam ipsa tenetur">
									<a href="#" class=""></a>
								</div>
								<div class="col-lg-6 ps-lg-4">
									<div class="entry-title title-sm">
										<br>
										<h2><a class="name1" href="#block-modal-ticket">CSS Tutorial <br> Zero to Hero</a></h2>
									</div>
									<div class="entry-content">
										<br>
										<a class="bt" href="#block-modal-ticket3" data-lightbox="inline" class="button button-border button-circle button-dark w-75">Watch Video</a>
									</div>
								</div>
							
						</div>
                    </div>

					<div class="col-lg-6 portfolio-single-content content-sticky">
						<div class="row col-mb-30">
							
								<div class="col-lg-6 mb-lg-0">
									<img class="img2" src="./assets\demos\photography\images\js2.png" alt="Inventore voluptates velit totam ipsa tenetur">
									<a href="#" class="entry-image overflow-hidden"></a>
								</div>
								<div class="col-lg-6 ps-lg-4">
									<div class="entry-title title-sm">
										<br>
										<h2><a class="name1" href="#block-modal-ticket2">Learn JavaScript</a></h2>
									</div>
									<div class="entry-content">
										<br>
										<a class="bt" href="#block-modal-ticket4" data-lightbox="inline" class="button button-border button-circle button-dark w-75">Watch Video</a>
									</div>
								</div>
							
						</div>
                    </div>

                </div>
			</div>
		</div>
	</section><!-- #content end -->	
	<!-- Content
		============================================= -->
					
				<!-- Modal -->
				<div class="modal1 mfp-hide" id="block-modal-ticket">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content bg-white rounded">

							<div class="row m-0 g-0">
								<div class="col-12">
									<div class="fancy-title title-double-border title-center my-2 p-4">
										<h3 class="">Angular Tutorial For Beginners</h3>
									</div>
								</div>
								<div class="col-12 bg-light">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/5xg4Jvqy_UI?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="col-12">
									<div class="row justify-content-between align-items-center p-5 col-mb-30">
										<div class="col">
											<h4 class="mb-2">In this video on What is Angular, you will be introduced to Angular and some of the basic concepts to begin your Angular journey. Angular is a front-end JavaScript framework used to develop Web and Single-page applications. The Angular framework is commonly used to create Single Page Applications. </h4>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="modal1 mfp-hide" id="block-modal-ticket2">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content bg-white rounded">

							<div class="row m-0 g-0">
								<div class="col-12">
									<div class="fancy-title title-double-border title-center my-2 p-4">
										<h3 class="">Learn PYTHON in 5 MINUTES</h3>
									</div>
								</div>
								<div class="col-12 bg-light">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/I2wURDqiXdM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="col-12">
									<div class="row justify-content-between align-items-center p-5 col-mb-30">
										<div class="col">
											<h4 class="mb-2">In this video we'll be learning as much Python as we can in 5 minutes. (Well six actually ...)</h4>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="modal1 mfp-hide" id="block-modal-ticket3">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content bg-white rounded">

							<div class="row m-0 g-0">
								<div class="col-12">
									<div class="fancy-title title-double-border title-center my-2 p-4">
										<h3 class="">CSS Tutorial - Zero to Hero</h3>
									</div>
								</div>
								<div class="col-12 bg-light">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/1Rs2ND1ryYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="col-12">
									<div class="row justify-content-between align-items-center p-5 col-mb-30">
										<div class="col">
											<h4 class="mb-2">Learn CSS in this full course for beginners. CSS, or Cascading Style Sheet, is responsible for the styling and looks of a website. </h4>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="modal1 mfp-hide" id="block-modal-ticket4">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content bg-white rounded">

							<div class="row m-0 g-0">
								<div class="col-12">
									<div class="fancy-title title-double-border title-center my-2 p-4">
										<h3 class="">Learn JavaScript</h3>
									</div>
								</div>
								<div class="col-12 bg-light">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/PkZNo7MFNFg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="col-12">
									<div class="row justify-content-between align-items-center p-5 col-mb-30">
										<div class="col">
											<h4 class="mb-2">This complete 134-part JavaScript tutorial for beginners will teach you everything you need to know to get started with the JavaScript programming language.</h4>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>

			
